@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default body style to match the figma design */
body {
  @apply bg-cover bg-center;
  background-image: url('./assets/images/bg-alone.png');
  background-color: #033b49;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  min-height: 100vh;
}

/* Tailwind doesn't have an focus-visible property by default */
input:focus-visible {
  @apply border-[#E30161] ring-2 ring-[#E30161];
  outline: none;
  transition: border-color 0.3s, ring-color 0.3s;
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: lexend, sans-serif;
  }

  p,
  a {
    font-family: lexend, Verdana;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body::-webkit-scrollbar {
    width: 0.95rem;
  }

  body::-webkit-scrollbar-track {
    background: rgb(3, 59, 73);
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-amber-600;
    border: 3px solid rgb(3, 59, 73);
    border-radius: 20px;
  }
}